* {
    text-align: center;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
}

ul {
    list-style: none;
    border: 15px solid rgb(118, 118, 226);
    display: block;
    flex-wrap: wrap;
    background-color: rgb(57, 57, 209);
    color:aliceblue;
    background-image: radial-gradient(circle at center, rgb(57, 57, 209) 0%, rgb(118, 118, 226) 70%);
    transition: all 0.5s ease-out;
    padding: 0px;
    word-wrap: normal;
    width: fit-content !important;
    height: fit-content !important;
}
header {
    text-align: center;
    background-color: rgb(57 ,57, 209);
    color:aliceblue;
}

input {
    text-align: center;
    padding: 5px 0px;
    border-radius: 10%;
    font-weight: bold;
}
p {
    justify-content: center;
    display: block;

}
.search {
    justify-content: center;
}
.days {
    flex-wrap: wrap;
    display: flex;
}
.current-weather {
    height: 800px;
}
h2 {
    font-size: 4vh;
}
